# ignore rules as follows
.local/share/nvim/
.local/share/ranger/
.config/ranger/commands*
.config/nvim/plugged/
.config/coc/
.config/configstore
.local/lib/
.local/include/


.netrwhist
Brave*
.config/TabNine/
*.db
history.cmdline

# ignore emacs files
lisp/
auto-save-list/
elpa/
bookmarks
recentf
snippets
