# ignoring rules as follows
# ignore .local stuff
.local/share/nvim/
.local/share/ranger/
.local/lib/
.local/include/
.local/bin/dropbox.py

# ignore .config stuff
.config/ranger/commands*
.config/ranger/plugins/
.config/nvim/plugged/
.config/vim/plugged/
.config/vim/autoload/plug.vim
.config/coc/
.config/configstore
.config/*old*

.netrwhist
Brave*
.config/TabNine/
*.db
history.cmdline

# ignore emacs files
lisp/
auto-save-list/
elpa/
bookmarks
recentf
#snippets/
rime/

# ignore zsh history
.zsh_history
.zsh_sessions/
