# ignoring rules as follows
# ignore .local stuff
.local/share/nvim/
.local/share/ranger/
.local/lib/
.local/include/
.local/bin/dropbox.py

# ignore .config stuff
.config/ranger/commands*
.config/ranger/plugins/
.config/vim/autoload/plug.vim
.config/coc/
.config/configstore
.config/*old*
.config/zsh/.zcompdump
.netrwhist

Brave*
*.db
history.cmdline
.config/awesome/themes/
.config/awesome/battery-widget/

# ignore zsh history
.zsh_history
.zsh_sessions/
.zshenv

# ignore macOS stuff
.DS_Store
