* {
  border: none;
  margin: 0;
  padding: 0;
  min-height: 0;
  font-family: monospace;
  font-size: 14px;
}

/* the whole bar */
/* #waybar { */
/*   background-color: #225877; */
/*   color: #ffffff; */
/* } */

/* The whole bar */
#waybar {
    background: #225877;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

.modules-left {
	background-color: #323232;
}

.modules-right {
	background-color: #323232;
	padding: 0px 5px;
}

#window {
  background-color: #225877;
  color: #ffffff;
  padding: 0px 10px;
}

window#waybar.hidden {
    opacity: 0.8;
}

#custom-scratch {
  background-color: #eeeeec;
  color: #4c504c;
	padding: 0px 9px;
}

#mode {
	 background-color: #900000;
	 color: #ffffff;
   padding: 0px 5px;
   border: 1px solid #2f343a;
}


#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
  padding: 0px 10px;
}

#battery.critical {
   color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
    /* color: #a40000; */
}

/* river */
#tags button {
  margin-right: 5px;
  padding: 0px 5px;
  color: #888888;
}

#tags button.occupied {

}

#tags button.focused {
  background-color: #225877;
  color: #ffffff;
}

/* sway */
#window {
    font-weight: bold;
}

#workspaces button {
  padding: 1px 10px;
  margin: 0px 1px 0px 0px;
  color: #888888;
  border-radius: 0px;
}

#workspaces button.focused {
  padding: 1px 10px;
  margin: 0px 1px 0px 0px;
  border-color: #4c7899;
  color: white;
  background-color: #285577;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
  padding: 1px 10px;
  margin: 0px 1px 0px 0px;
  border-radius: 0px;
}
