
* {
    border: none;
    margin: 0;
    padding: 0;
    min-height: 0;
    font-family: monospace;
    font-size: 14px;
}

/* the whole bar */
/* #waybar { */
/*   background-color: #225877; */
/*   color: #ffffff; */
/* } */

/* The whole bar */
#waybar {
    /* background-color: #225877; */
    background-color: #323232;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.modules-left {
    /* background-color: #323232; */
}

.modules-right {
    /* background-color: #323232; */
	padding: 0px 5px;
}

#window {
    background-color: #225877;
    color: #ffffff;
    padding: 0px 10px;
}

window#waybar.hidden {
    opacity: 0.8;
}

#custom-scratch {
    background-color: #eeeeec;
    color: #4c504c;
	padding: 0px 9px;
}

#mode {
	background-color: #900000;
	color: #ffffff;
    padding: 0px 5px;
    border: 1px solid #2f343a;
}


#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
    padding: 0px 10px;
}

#battery.critical {
    color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
    /* color: #a40000; */
}

/* river */
#tags button {
    margin-right: 5px;
    padding: 0px 5px;
    color: #888888;
}

#tags button.occupied {

}

#tags button.focused {
    background-color: #225877;
    color: #ffffff;
}

#tags button.focused:hover {
    background-color: #225877;
    color: #a40000;
}

/* sway */
#window {
    font-weight: bold;
}

#workspace {
}

#workspaces button {
    margin: 1px;
    padding: 1px;
    color: #888888;
    background-color: #323232;
    border-radius: 0px;
    border: 1px solid #4c7899;
}

#workspaces button:hover {
    color: #a40000;
}

#workspaces button.focused {
    background-color: #225877;
    color: white;
}

#workspaces button.focused:hover {
    color: #a40000;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
